<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>QUp Gamification - Leaderboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet' href='https://rsms.me/inter/inter-ui.css?v=3.2'>

      <link rel="stylesheet" href="/css/leaderboard.css">

  
</head>

<body>

  
<div class="wrapper">
  <div class="list">
    <div class="list__header">
      <h5>QUp Gamification</h5>
      <h1>Leaderboard</h1>
    </div>
    <div class="list__body">
      <table class="list__table">
            <tr style="background-color: white;">
              <td></td>
              <td></td>
              <td></td>
              <td align="center"><a href="?sort=point"><img src="/images/arrow.png" style="height: 25px;"></a></td>
              <td align="center"><a href="?sort=sprev"><img src="/images/arrow.png" style="height: 25px;"></a></td>
              <td align="center"><a href="?sort=scur"><img src="/images/arrow.png" style="height: 25px;"></a></td>
              <td align="center"><a href="?sort=today"><img src="/images/arrow.png" style="height: 25px;"></a></td>
              
              <td></td>
            </tr>
            <% for (var i=0; i<list.length;i++) {%>
                <tr class="list__row" data-image="<%=list[i].info.avatarUrls['48x48']%>" data-items="<%=JSON.stringify(list[i].items.list)%>">
                    <td class="list__cell"><span class="list__value"><%=i+1%></span></td>
                    <td class="list__cell"><span class="list__value"><%=list[i].info.displayName%></span><small class="list__label"><%=list[i].username%></small></td>
                    <td class="list__cell"><span class="list__value"><%=list[i].items.total%></span><small class="list__label">Items</small></td>
                    <td class="list__cell"><span class="list__value"><%=list[i].point%></span><small class="list__label">Points</small></td>
                    <td class="list__cell"><span class="list__value"><%=list[i].s35s36%></span><small class="list__label">Sprint 35,36</small></td>
                    <td class="list__cell"><span class="list__value"><%=list[i].s37%></span><small class="list__label">Sprint 37</small></td>
                    <td class="list__cell"><span class="list__value"><%=list[i].today%></span><small class="list__label">Points today</small></td>
                    <td class="list__cell"><span class="list__value"><%=list[i].level.current%> (<%=list[i].level.percent%> %)</span><small class="list__label">Level</small></td>
                </tr> 
            <% } %>
        
        
      </table>
    </div>
  </div>
</div>
<div class="overlay"></div>
<div class="sidebar">
  <div class="sidebar__header">
    <div class="driver"></div>
    <button class="button button--close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="15" y1="9" x2="9" y2="15"></line>
        <line x1="9" y1="9" x2="15" y2="15"></line>
      </svg>
    </button>
  </div>
  <div class="sidebar__body"></div>
    <script  src="/js/leaderboard.js"></script>
</body>

</html>
