<link rel="stylesheet" href="css/sprint.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
<table>
        <thead>
            <tr>
                <th>Story</th>
                <th>Status</th>
                <th>Points</th>
                <th>Duedate</th>
                <th>OriginDuedate</th>
                <th>Sub-Tasks</th>
                <th>Progress (%)</th>
                <th>Timespent (hours)</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i=0; i<keys.length;i++) {%>
                <tbody class="labels">
                    <tr>
                        <td colspan="8">
                            <label for="<%=keys[i]%>"><%=keys[i]%> </label>
                            <input type="checkbox" name="<%=keys[i]%>" id="<%=keys[i]%>" data-toggle="toggle">
                        </td>
                    </tr>
                </tbody>
                <tbody class="hide" style="display: none;">
                    <% for (var j=0; j<finish[keys[i]].length;j++) {%>
                        <tr style="background-color: <%=finish[keys[i]][j].backgroundColor%>">
                            <td><a href="https://issues.qup.vn/issues/?jql=parent%20%3D%20<%=finish[keys[i]][j].key%>%20ORDER%20BY%20due%20DESC"><%=finish[keys[i]][j].key%></a> - <%=finish[keys[i]][j].summary%></td>
                            <% if(finish[keys[i]][j].overduedate < -1 && finish[keys[i]][j].backgroundColor == "white") {%>
                                <td  style="background-color: red"><%=finish[keys[i]][j].status%></td>
                            <%} else {%>
                                <td><%=finish[keys[i]][j].status%></td>
                            <%}%>
                            <td><%=finish[keys[i]][j].point%></td>
                            <td><%=finish[keys[i]][j].duedate%></td>
                            <td><%=finish[keys[i]][j].originduedate%></td>
                            <td><%=finish[keys[i]][j].subtasks.length%></td>
                            <td><%=finish[keys[i]][j].aggregateprogress.percent%></td>
                            <td><%=(finish[keys[i]][j].aggregateprogress.progress/60/60).toFixed(1)%> / <%=(finish[keys[i]][j].aggregateprogress.total/60/60).toFixed(1)%></td>
                        </tr>
                    <% } %>
                </tbody>
            <% } %>
            
        </tbody>
    </table>
<script>
$(document).ready(function() {
    $('[data-toggle="toggle"]').change(function(){
        $(this).parents().next('.hide').toggle();
    });
});
</script>